.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/


00_archived
work
output
test_data
nf-work
slurm_out
containers

.__**
.__.**
._.DS_Store
._.nextflow
._.vscode
._assets
._bin
._conf
._docs
._env
._modules
._README.md
._slurm_out
._subworkflows
._test_data
._workflows
