params {
    config_profile_description = 'GaitiLab cluster profile'
    maxRetries  = 10

}
nextflow.enable.moduleBinaries = true

process {
    executor = "local"
    resourceLimits = [ cpus: 4, memory: 60.GB, time: 5.d]

    cpus   = { 1 }
    memory = { 16.GB}
    time   = { 1.d }

}
nextflow.enable.moduleBinaries = true

// Preform work directory cleanup after a successful run
cleanup = false

// Profile to deactivate automatic cleanup of work directory after a successful run. Overwrites cleanup option.
profiles {
    debug {
        cleanup = false
    }
    apptainer {
        process {
            // TODO add path to container to scrnaseqcellcomm (cellchat + liana + other Rscripts)
            // TODO testing 'dev' version (smaller image)
            container = "/cluster/projects/gaitigroup/Users/Joan/gaitilab-scrnaseqcellcomm/containers/scrnaseqcellcomm_dev.sif"
            // TODO add path to cpdb container
            withName: 'CPDB_RUN' {
            container = "/cluster/projects/gaitigroup/Users/Joan/gaitilab-scrnaseqcellcomm/containers/cpdb.sif"
            }
            // TODO add path to cell2cell container
            withName: 'CELL2CELL_RUN' {
            container = "/cluster/projects/gaitigroup/Users/Joan/gaitilab-scrnaseqcellcomm/containers/cell2cell.sif"
            }
        }
    }

    slurm {
        process {
            executor = "slurm"
            jobName = { "$task.hash" }
            // Select right queue
            queue = { assign_queue( task.memory ) }
            resourceLimits = [ cpus: 24, memory: 184.GB, time: 5.d]

        }
    }
    h4h {
        // When on cluster ensure apptainer and java/18 are loaded
        process {
            beforeScript = """module load apptainer""".stripIndent()

        }
    } 
}


def assign_queue(mem){
    def queue = ""
    switch ( mem  ) {
            case { it > 184.320.GB }:
                queue = 'superhimem'
                break
            case { it > 61.4.GB }:
                queue = 'veryhimem'
                break
            case { it > 30.72.GB }:
                queue = 'himem'
                break
            default:
                queue = 'all'
                break
        }
    return queue
}

