params {
    output_run_name = 'cci_pipeline'

    input_file = 'empty.txt'
    sample_dir = 'empty.txt'
    metadata_csv = 'empty.txt'
    metadata_rds = 'empty.txt'
    meta_vars_oi = 'empty.txt'

    annot = 'cell_type'
    min_cells = 100
    first_n = 0
    split_varname = 'Sample'
    samples_oi = 'empty.txt'
    min_cell_types = 2

    outdir = 'nf-logs'

    cellphone_db = 'empty.txt'
    cellchat_db = 'empty.txt'
    liana_db = 'empty.txt'
    liana_db_csv = 'empty.txt'
    ref_db = 'empty.txt'
    
    min_pct = 0.1
    n_perm = 1000
    alpha = 0.05
    condition_varname = ''
    min_frac_samples = 0.5
    patient_varname = ''
    min_patients = 2
    
    do_annot = false
    skip_reduction = false
    skip_preprocessing = false
  
    approach = 5

    aggregate_samples = true
    aggregate_patients = false

}


manifest {
    name = 'scrnaseq-cellcomm'
    author = 'GaitiLab UHN'
    homePage = 'https://github.com/GaitiLab/scrnaseq-cellcomm'
    description = 'Pipeline for inferring cell-cell interactions from scRNAseq data using multiple publicly available tools'
    mainScript = 'main.nf'
}


/*
================================================================================
    Include additional config files
================================================================================
*/
includeConfig 'nf-config/configuration_profiles.config'
includeConfig 'nf-config/system_resources.config'
includeConfig 'nf-config/process_resources.config'
includeConfig 'nf-config/process_info.config'
includeConfig 'nf-config/metrics_and_report.config'
