/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {
    conda      = "${CONDA_PREFIX}/envs/cci"

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: "copy",
        saveAs: { filename ->
            if (filename.equals('versions.yml') | filename == "ok.txt") {
                null
            }
            else {
                filename
            }
        }
    ]

    withName: RRA {
        publishDir = [
            path: { "${params.outdir}/400_consensus_and_RRA" },
            mode: "copy",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.equals("ok.txt")) {
                    null
                }
                else {
                    filename
                }
            }
        ]
    }

    withName: 'FILTER_BY_DETECTION_IN_MULTI_SAMPLES|AGGREGATE_SAMPLES|FILTER_AGGREGATED_RESULTS' {
        publishDir = [
            path: { "${params.outdir}/402_aggregation_and_filtering" },
            mode: "copy",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.equals("ok.txt")) {
                    null
                }
                else {
                    filename
                }
            }
        ]
    }

    withName: FORMAT_CPDB {
        publishDir = [
            path: { "${params.outdir}/303_postproc_cpdb" },
            mode: "copy",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.equals("ok.txt")) {
                    null
                }
                else {
                    filename
                }
            }
        ]
    }

    withName: FORMAT_CELLCHAT {
        publishDir = [
            path: { "${params.outdir}/300_postproc_cellchat" },
            mode: "copy",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.equals("ok.txt")) {
                    null
                }
                else {
                    filename
                }
            }
        ]
    }

    withName: FORMAT_LIANA {
        publishDir = [
            path: { "${params.outdir}/301_postproc_liana" },
            mode: "copy",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.equals("ok.txt")) {
                    null
                }
                else {
                    filename
                }
            }
        ]
    }

    withName: FORMAT_CELL2CELL {
        publishDir = [
            path: { "${params.outdir}/302_postproc_cell2cell" },
            mode: "copy",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.equals("ok.txt")) {
                    null
                }
                else {
                    filename
                }
            }
        ]
    }

    withName: 'EXTRACT_METADATA|CREATE_SAMPLE_SHEET|SPLIT_SEURAT_OBJECT_INTO_SAMPLES|REDUCE_SEURAT_OBJECT_SIZE' {
        publishDir = [
            path: { "${params.outdir}/000_data" },
            mode: "copy",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.equals("ok.txt") || filename.endsWith("_reduced_size.rds")) {
                    null
                }
                else {
                    filename
                }
            }
        ]
    }

    withName: SAMPLE_PREPROCESSING {
        publishDir = [
            path: { "${params.outdir}/100_preprocessing" },
            mode: "copy",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.equals("ok.txt")) {
                    null
                }
                else {
                    filename
                }
            }
        ]
    }

    withName: COMBINE_SAMPLES {
        publishDir = [
            path: { "${params.outdir}/401_combine_samples" },
            mode: "copy",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.equals("ok.txt")) {
                    null
                }
                else {
                    filename
                }
            }
        ]
    }

    withName: RUN_CPDB {
        cpus       = 8
        conda      = "${CONDA_PREFIX}/envs/cpdb"
        maxRetries = 5
        publishDir = [
            path: { "${params.outdir}/203_cci_cpdb" },
            mode: "copy",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.equals("ok.txt")) {
                    null
                }
                else {
                    filename
                }
            }
        ]
    }

    withName: RUN_CELLCHAT {
        cpus       = 8
        publishDir = [
            path: { "${params.outdir}/200_cci_cellchat" },
            mode: "copy",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.equals("ok.txt")) {
                    null
                }
                else {
                    filename
                }
            }
        ]
    }

    withName: RUN_CELL2CELL {
        conda      = "${CONDA_PREFIX}/envs/cell2cell"
        maxRetries = 5
        publishDir = [
            path: { "${params.outdir}/200_cci_cellchat" },
            mode: "copy",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.equals("ok.txt")) {
                    null
                }
                else {
                    filename
                }
            }
        ]
    }

    withName: RUN_LIANA {
        maxRetries = 12
        publishDir = [
            path: { "${params.outdir}/201_cci_liana" },
            mode: "copy",
            saveAs: { filename ->
                if (filename.equals('versions.yml') || filename.equals("ok.txt")) {
                    null
                }
                else {
                    filename
                }
            }
        ]
    }
}
