/*
================================================================================
    Profiles
================================================================================
*/
profiles {
    slurm {
        conda.enabled=true
        process {
            executor='slurm'
            conda='/cluster/home/t119972uhn/miniforge3/envs/standard_env'
        }
    }

    local_docker {
    docker.enabled = true
    process {
        containerOptions = '--volume /Users/joankant/Library/CloudStorage/OneDrive-UHN/Coding/local-cell-cell-interactions:/project'
        executor = 'local'
        container = 'gbm_cci'
        withName: PREPROCESSING {
            errorStrategy = 'ignore'
            }
        }
    }

    slurm_apptainer {
    apptainer.enabled = true
    apptainer.autoMounts = true
    apptainer.runOptions='--bind /cluster/projects/gaitigroup/Users/Joan/h4h-cell-cell-interactions:/project'
    }
    standard {
        conda.enabled=true
        process {
            executor = 'local'
            conda='${HOME}/miniforge3/envs/standard_env'\

        }
    }
}
