params {
    config_profile_description = 'GaitiLab cluster profile'

    max_cpus    = 24
    max_memory  = 184.GB
    // 7.d for himem, but not sure yet how to handle htis
    max_time    = 5.d
    maxRetries  = 10


}

// Setup for slurm
executor {
    jobName = { "$task.hash" } 
    queueSize=20
}

process {
    executor = "slurm"
}

// Preform work directory cleanup after a successful run
cleanup = true

// Profile to deactivate automatic cleanup of work directory after a successful run. Overwrites cleanup option.
profiles {
    debug {
        cleanup = false
    }
}
