params {
    // config_profile_description = 'The ABiMS cluster profile'
    // config_profile_contact = 'Gildas Le Corguillé (@lecorguille)'
    // config_profile_url = 'https://abims.sb-roscoff.fr'

    max_cpus    = 24
    max_memory  = 184.GB
    // 7.d for himem, but not sure yet how to handle htis
    max_time    = 5.d
    maxRetries  = 4

}

// Setup for slurm
executor {
    jobName = { "$task.hash" } 
}

process {
    executor = "slurm"
    beforeScript = "module load java/18"
    // Select right queue 
    queue = {
        switch (task.memory * task.attempt) {
            case { it > 184.GB }:
                'superhimem'
            case { it > 60.GB }:
                return 'veryhimem'
            case { it > 30.GB}:
                return 'himem'
            default: 
                return 'all'
        }
    }
}

// Preform work directory cleanup after a successful run
// cleanup = true
cleanup = false

// Profile to deactivate automatic cleanup of work directory after a successful run. Overwrites cleanup option.
profiles {
    debug {
        cleanup = false
    }
}
