/*
================================================================================
    Metrics & Reports
================================================================================
*/
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file    = "${projectDir}/${params.outdir}/${params.run_name}_timeline_${trace_timestamp}.html"
    overwrite = true
}

report {
    enabled = true
    file    = "${projectDir}/${params.outdir}/${params.run_name}_report_${trace_timestamp}.html"
    overwrite = true
}
trace {
    enabled = true
    fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
    file    = "${projectDir}/${params.outdir}/${params.run_name}_trace_${trace_timestamp}.txt"
    overwrite = true
}