process {
    conda ="${CONDA_PREFIX}/envs/cci"

    withName:INFER_CPDB {
        cpus = 10
        conda="${CONDA_PREFIX}/miniforge3/envs/cpdb"
        maxRetries = 5
    }

    withName:INFER_CELLCHAT {
        cpus = 8        
    }

    withName:INFER_CELL2CELL {
        conda="${CONDA_PREFIX}/envs/cell2cell"
        maxRetries = 5
    }

    withName:INFER_LIANA {
        maxRetries = 12
    }
}