process {
    conda ="${CONDA_PREFIX}/envs/cci"

    withName:infer_cpdb {
        cpus            = 10
        conda           = "${CONDA_PREFIX}/envs/cpdb"
        maxRetries      = 5
        // container       = "${container_dir}/cpdb_container.sif"
    }

    withName:infer_cellchat {
        cpus            = 8        
    }

    withName:infer_cell2cell {
        conda           = "${CONDA_PREFIX}/envs/cell2cell"
        maxRetries      = 5
        // container       = "${container_dir}/cell2cell_container.sif"

    }

    withName:infer_liana {
        maxRetries      = 12
    }
}