process {
    withName: ADAPT_ANNOTATION {
        clusterOptions = '--job-name=ADAPT_ANNOTATION'
        }

    withName: GET_METADATA {
        clusterOptions = '--job-name=GET_METADATA'
    }
    withName: REDUCE_SEURAT_OBJECT_SIZE {
        time = '00:15:00'
        clusterOptions = '--job-name=REDUCE_SEURAT_OBJECT_SIZE'
    }

    withName: SPLIT_SEURAT_OBJECT {
        time = '05:00:00'
        cpus = 1
        clusterOptions = '--job-name=SPLIT_SEURAT_OBJECT'
    }

    withName: PREPROCESSING {
        time = '00:15:00'
        cpus = 1
        clusterOptions = '--job-name=PREPROCESSING'
    }

    withName: INFER_CELLCHAT {
        cpus = 8
        clusterOptions = '--job-name=200_cci_cellchat'
        
    }
     withName: INFER_CPDB {
        cpus = 10
        clusterOptions = '--job-name=203_cci_cpdb'
        conda='/cluster/home/t119972uhn/miniforge3/envs/cpdb'
    }

    withName: INFER_LIANA {
        cpus = 1
        clusterOptions = '--job-name=201_cci_liana'
    }

    withName: INFER_CELL2CELL {
        cpus = 1
        clusterOptions = '--job-name=202_cci_cell2cell'
        conda='/cluster/home/t119972uhn/miniforge3/envs/cell2cell'
    }
    
    withName: POSTPROCESSING_CELLCHAT {
        clusterOptions = '--job-name=300_postprocessing_cellchat'
    }
    withName: POSTPROCESSING_LIANA {
        cpus = 1
        clusterOptions = '--job-name=301_postprocessing_liana'
    }

    withName: POSTPROCESSING_CELL2CELL {
        cpus = 1
        clusterOptions = '--job-name=302_postprocessing_cell2cell'
    }

    withName: POSTPROCESSING_CPDB {
        cpus = 1
        clusterOptions = '--job-name=303_postprocessing_cpdb'
    }

    withName: COMBINE_SAMPLES {
        cpus = 1
        clusterOptions = '--job-name=401b_combine_samples'
    }

    withName: CONSENSUS {
        cpus = 1
        clusterOptions = '--job-name=400a_consensus'
    }
    
    withName: POST_FILTERING {
        cpus = 1
        clusterOptions = '--job-name=400c_post_filtering'
    }
}