/*
================================================================================
    Process - Resources
================================================================================
*/

process {
    withLabel: 'mem1' {
        memory = { task.attempt * 1.GB }
        errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
        queue = { task.attempt > 29 ? 'himem' : 'all' }
        maxRetries = 5
                time = task.time

    }
    withLabel: 'mem2' {
        memory = { task.attempt * 2.GB}
        errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
        queue = { task.attempt > 15 ? 'himem' : 'all' }
        maxRetries = 5
                time = task.time

    }
    withLabel: 'mem4' {
        memory = { task.attempt * 4.GB }
        errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
        queue = { task.attempt > 7 ? 'himem' : 'all' }
        maxRetries = 3
                time = task.time

    }
    withLabel: 'mem6' {
        memory = { task.attempt * 6.GB }
        errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}

        queue = { task.attempt > 7 ? 'himem' : 'all' }
        maxRetries = 3
                time = task.time

    }
    withLabel: 'mem8' {
        memory = { task.attempt * 8.GB }
        errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
        queue = { task.attempt > 3 ? 'himem' : 'all' }
        maxRetries = 3
                time = task.time

    }
    withLabel: 'mem10' {
        memory = {task.attempt * 10.GB }
        errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
        queue = { task.attempt > 3 ? 'himem' : 'all' }
        maxRetries = 3
                time = task.time

    }
    withLabel: 'mem12' {
        memory = {  task.attempt * 12.GB }
        queue = { task.attempt > 2 ? 'himem' : 'all' }
        errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
        time = task.time

        maxRetries = 3
    }
    withLabel: 'mem16' {
        memory = {task.attempt * 16.GB }
        errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
        queue = { task.attempt > 1 ? 'himem' : 'all' }
        time = task.time

        maxRetries = 3
    }
    withLabel: 'mem20' {
        memory = { task.attempt * 20.GB }
        errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
        queue = { task.attempt > 1 ? 'himem' : 'all' }
        maxRetries = 3
                time = task.time

    }
    withLabel: 'mem32' {
        memory = { task.attempt * 32.GB  }
        errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
        queue = { task.attempt > 1 ? 'himem' : 'himem' }
        maxRetries = 3
        time = task.time
    }
    withLabel: 'mem40' {
        memory = {  task.attempt * 40.GB }
        errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
        queue = {task.attempt > 1 ? 'himem' : 'himem'}
        maxRetries = 2
        time = task.time

    }
    withLabel: 'mem64' {
        memory = { task.attempt * 64.GB  }
        errorStrategy = {task.exitStatus in [137] ? "retry" : "terminate"}
        queue = {task.attempt > 1 ? 'veryhimem' : 'himem'}        
        maxRetries = 2
        time = task.time

    }
    withLabel: 'mem80' {
        memory = '80GB'
        queue = 'himem'
        maxRetries = 1
        time = task.time

    }
    withLabel: 'mem128' {
        memory = '128GB'
        queue = 'himem'
        maxRetries = 0
        time = task.time

    }
    withLabel: 'time_1m' {
        errorStrategy = {task.exitStatus in [124, 140] ? "retry" : "terminate"}
        memory = task.memory
        time = { task.attempt * 1.m }
        maxRetries = 200
    }
    withLabel: 'time_10m' {
        time = { task.attempt * 10.m }
        errorStrategy = {task.exitStatus in [124, 140] ? "retry" : "terminate"}
        maxRetries = 20
        memory = task.memory

    }
    withLabel: 'time_15m' {
        time = {task.attempt * 15.m }
        errorStrategy = {task.exitStatus in [124, 140] ? "retry" : "terminate"}
        maxRetries = 10
        memory = task.memory

    }
    withLabel: 'time_30m' {
        time = {task.attempt * 30.m}
        errorStrategy = {task.exitStatus in [124, 140] ? "retry" : "terminate"}
        maxRetries = 10
        memory = task.memory

    }
    withLabel: 'time_1h' {
        time = {task.attempt * 1.h }
        errorStrategy = {task.exitStatus in [124, 140] ? "retry" : "terminate"}
        memory = task.memory
        maxRetries = 10
    }
    withLabel: 'time_2h' {
        time = {task.attempt * 2.h }
        errorStrategy = {task.exitStatus in [124, 140] ? "retry" : "terminate"}
        maxRetries = 10
        memory = task.memory
    }
    withLabel: 'time_4h' {
        time = {task.attempt * 4.h }
        errorStrategy = {task.exitStatus in [124, 140] ? "retry" : "terminate"}
        maxRetries = 20
        memory = task.memory

    }
    withLabel: 'time_6h' {
        time = {task.attempt * 6.h }
        maxRetries = 13
        errorStrategy = {task.exitStatus in [124, 140] ? "retry" : "terminate"}
        memory = task.memory


    }
    withLabel: 'time_8h' {
        time = {task.attempt * 8.h }
        errorStrategy = {task.exitStatus in [124, 140] ? "retry" : "terminate"}
        memory = task.memory
        maxRetries = 10
    }
    withLabel: 'time_12h' {
        time = {task.attempt * 12.h }
        errorStrategy = {task.exitStatus in [124, 140] ? "retry" : "terminate"}
        memory = task.memory
        maxRetries = 8
    }
    withLabel: 'time_16h' {
        time = {task.attempt * 16.h }
        errorStrategy = {task.exitStatus in [124, 140] ? "retry" : "terminate"}
        memory = task.memory
        maxRetries = 5
    }
    withLabel: 'time_24h' {
        time = {task.attempt * 24.h }
        errorStrategy = {task.exitStatus in [124, 140] ? "retry" : "terminate"}
        memory = task.memory
        maxRetries = 4
    }
}
