/*
================================================================================
    Process - Resources
================================================================================
*/

process {
    withLabel: 'mem1' {
        memory = { task.exitStatus in [137] ? task.attempt * 1.GB : 1.GB }
        queue = { task.attempt > 29 ? 'himem' : 'all' }
        maxRetries = 5
    }
    withLabel: 'mem2' {
        memory = { task.exitStatus in [137] ? task.attempt * 2.GB : 2.GB}
        queue = { task.attempt > 15 ? 'himem' : 'all' }
        maxRetries = 5
    }
    withLabel: 'mem4' {
        memory = { task.exitStatus in [137] ? task.attempt * 4.GB : 4.GB }
        queue = { task.attempt > 7 ? 'himem' : 'all' }
        maxRetries = 3
    }
    withLabel: 'mem6' {
        memory = { task.exitStatus in [137] ? task.attempt * 6.GB : 6.GB }
        queue = { task.attempt > 7 ? 'himem' : 'all' }
        maxRetries = 3
    }
    withLabel: 'mem8' {
        memory = { task.exitStatus in [137] ? task.attempt * 8.GB : 8.GB}
        queue = { task.attempt > 3 ? 'himem' : 'all' }
        maxRetries = 3
    }
    withLabel: 'mem10' {
        memory = { task.exitStatus in [137] ? task.attempt * 10.GB : 10.GB }
        queue = { task.attempt > 3 ? 'himem' : 'all' }
        maxRetries = 3
    }
    withLabel: 'mem12' {
        memory = { task.exitStatus in [137] ? task.attempt * 12.GB : 12.GB}
        queue = { task.attempt > 2 ? 'himem' : 'all' }
        maxRetries = 3
    }
    withLabel: 'mem16' {
        memory = { task.exitStatus in [137] ? task.attempt * 16.GB : 16.GB }
        queue = { task.attempt > 1 ? 'himem' : 'all' }
        maxRetries = 3
    }
    withLabel: 'mem20' {
        memory = { task.exitStatus in [137] ? task.attempt * 20.GB : 20.GB }
        queue = { task.attempt > 1 ? 'himem' : 'all' }
        maxRetries = 3
    }
    withLabel: 'mem32' {
        memory = { task.exitStatus in [137] ? task.attempt * 32.GB : 32.GB }
        queue = { task.attempt > 1 ? 'himem' : 'himem' }
        maxRetries = 3
    }
    withLabel: 'mem40' {
        memory = { task.exitStatus in [137] ? task.attempt * 40.GB : 40.GB}
        queue = {task.attempt > 1 ? 'himem' : 'himem'}
        maxRetries = 2
    }
    withLabel: 'mem64' {
        memory = { task.exitStatus in [137] ? task.attempt * 64.GB : 64.GB }
        queue = 'himem'
        maxRetries = 1
    }
    withLabel: 'mem80' {
        memory = '80GB'
        queue = 'himem'
        maxRetries = 1
    }
    withLabel: 'mem128' {
        memory = '128GB'
        queue = 'himem'
        maxRetries = 0
    }
    withLabel: 'time_1m' {
        time = {task.exitStatus in [140, 124] ? task.attempt * 1.m : 1.m}
        maxRetries = 200
    }
    withLabel: 'time_10m' {
        time = {task.exitStatus in [140, 124] ? task.attempt * 10.m : 10.m}
        maxRetries = 20
    }
    withLabel: 'time_15m' {
        time = {task.exitStatus in [140, 124] ? task.attempt * 15.m : 15.m}
        maxRetries = 10
    }
    withLabel: 'time_30m' {
        time = {task.exitStatus in [140, 124] ? task.attempt * 30.m : 30.m}
        maxRetries = 10
    }
    withLabel: 'time_1h' {
        time = {task.exitStatus in [140, 124] ? task.attempt * 1.h : 1.h}
        maxRetries = 10
    }
    withLabel: 'time_2h' {
        time = {task.exitStatus in [140, 124] ? task.attempt * 2.h : 2.h}
        maxRetries = 10
    }
    withLabel: 'time_4h' {
        time = {task.exitStatus in [140, 124] ? task.attempt * 4.h : 4.h}
        maxRetries = 20
    }
    withLabel: 'time_6h' {
        time = {task.exitStatus in [140, 124] ? task.attempt * 6.h : 6.h}
        maxRetries = 13
    }
    withLabel: 'time_8h' {
        time = {task.exitStatus in [140, 124] ? task.attempt * 8.h : 8.h}
        maxRetries = 10
    }
    withLabel: 'time_12h' {
        time = {task.exitStatus in [140, 124] ? task.attempt * 12.h : 12.h}
        maxRetries = 8
    }
    withLabel: 'time_16h' {
        time = {task.exitStatus in [140, 124] ? task.attempt * 16.h : 16.h}
        maxRetries = 5
    }
    withLabel: 'time_24h' {
        time = {task.exitStatus in [140, 124] ? task.attempt * 24.h : 24.h}
        maxRetries = 4
    }
}
