/*
================================================================================
    Process - Resources Default
================================================================================
*/
process {
    errorStrategy = {(task.exitStatus in 137..140) || (task.exitStatus == 124) ? 'retry' : 'terminate'}
    maxRetries = 1
    cpus = 1
    cache = 'lenient'

}